p.impar{
    background-color: pink;
    font-family: Verdana, "DejaVu Sans",sans-serif;

}
#segundo {
    color:blue;
    font-size: 36px;

}
p.tercer{
    font-size: 24px;
}

#cuarto{
    background-color: greenyellow;
    font-size: 24px;
    font-weight: bold;
}